<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"
          th:href="@{webjars/bootstrap/3.3.6/css/bootstrap.min.css}"/>

    <script type="application/javascript" th:href="@{webjars/jquery/2.2.0/jquery.min.js}"/>
    <title>Quote Of The Day</title>
</head>
<body>
<div class="container">
    <h1>Prize</h1>
    <p>Congratulations! You have just won $1,000,000. Please <a href="http://www.performancecentre.com">click here</a>
        to redeem your prize.</p>

</div>
</body>
</html>